<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
 <!-- source: https://startbootstrap.com/template/small-business -->
</head>
<body>
<!-- Page Content-->
<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/images/check.png" alt="..." /></div>
    <div class="col-lg-5">
      <h1 class="font-weight-light">See if you can run this game!</h1>
      <a class="btn btn-primary" href="/pc-game-run-test">Let's Go!</a>
    </div>
  </div>
  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <a href="/compare-processors" style="color: white">Compare processors</a><br>
      <a href="/compare-graphics-card" style="color: white">Compare graphics Cards</a>
    </div>
  </div>
  <!-- Content Row-->
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Processors:</h2>
          <p class="card-text">List of all processors!</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/processors">check</a></div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Games:</h2>
          <p class="card-text">List of all games!</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/games">check</a></div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Graphics Cards:</h2>
          <p class="card-text">List of all graphics Cards!</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/graphics-cards">check</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
