<div class="detail-section">
  <div class="container-fluid">

    <img src="{{ game.imageUrl }}" height="200" width="400" class="img-fluid">

    <h3>{{ game.gameName }}</h3>
    <div class="price">{{ game.gamePrice }}PLN</div>
    <hr>
    <h1>Description</h1>
    <p>Game premiere: {{game.gamePremiere}}</p>
    <p>Game platform: {{game.gamePlatform.platformName}}</p>
    <p>Made by: {{game.gameCreations[0].developer.developerName}}</p>


    <br>
    <div *ngFor="let hardwareRequirement of game.hardwareRequirements">
      <h4 *ngIf="hardwareRequirement.requirementType == 'Rekomendowane'">Recommended</h4>
      <h4 *ngIf="hardwareRequirement.requirementType == 'Minimalne'">Minimal</h4>
      <p>DiscSpace: {{hardwareRequirement.discSpace}}GB</p>
      <p *ngIf="hardwareRequirement.graphicsCard != null">Graphics card: {{hardwareRequirement.graphicsCard.cardProducer}} {{hardwareRequirement.graphicsCard.cardModel}}</p>
      <p *ngIf="hardwareRequirement.processor != null">Processor: {{hardwareRequirement.processor.producer}} {{hardwareRequirement.processor.processorModel}}</p>
      <p *ngIf="hardwareRequirement.ram != null">Ram: {{hardwareRequirement.ram}}GB</p>
    </div>
    <br>

    <br>
    <hr>

    <h3>More info</h3>
    <h5 *ngIf="game.gameCreations.length > 1">Engines:</h5>
    <h5 *ngIf="game.gameCreations.length == 1">Engine:</h5>
    <div *ngFor="let gameCreation of game.gameCreations">
      <p>Engine Name and version: {{gameCreation.engine.engineName}}, {{gameCreation.engine.engineVersion}}</p>
      <p>Programming Language: {{gameCreation.engine.programmingLanguage.languageName}}</p>
      <br>
    </div>

    <a routerLink="/games" class="mt-5">Back to Games List</a>
  </div>
</div>
