<div class="detail-section">
  <div class="container-fluid">

    <img src="{{ game.imageUrl }}" height="200" width="400" class="img-fluid">

    <h3>{{ game.gameName }}</h3>
    <div class="price">{{ game.gamePrice }}PLN</div>
    <hr>
    <h1>Description</h1>
    <p>Premiera gry:{{game.gamePremiere}}</p>
    <p>Platforma gry:{{game.gamePlatform.platformName}}</p>

      <h4>{{game.hardwareRequirements[0].requirementType}}</h4>
        <p>DiscSpace: {{game.hardwareRequirements[0].discSpace}}GB</p>
        <p>Graphics card: {{game.hardwareRequirements[0].graphicsCard.cardModel}}</p>
        <p>Processor: {{game.hardwareRequirements[0].processor.processorModel}}</p>
        <p>Ram: {{game.hardwareRequirements[0].ram}}GB</p>

    <h4>{{game.hardwareRequirements[1].requirementType}}</h4>
    <p>DiscSpace: {{game.hardwareRequirements[1].discSpace}}GB</p>
    <p>Graphics card: {{game.hardwareRequirements[1].graphicsCard.cardModel}}</p>
    <p>Processor: {{game.hardwareRequirements[1].processor.processorModel}}</p>
    <p>Ram: {{game.hardwareRequirements[1].ram}}GB</p>

    <a routerLink="/games" class="mt-5">Back to Games List</a>
  </div>
</div>
