
<div class="container-fluid">
  <div class="row">

<!--     loop over the collection of products-->
    <div *ngFor="let processor of processors" class="col-2">
      <div class="col-auto">

        <a routerLink="/processors/{{ processor.processorId }}">
          <img src="{{processor.imageUrl}}" class="img-fluid">
        </a>

        <a routerLink="/processors/{{ processor.processorId }}">
          <a class="container">{{ processor.processorModel }}</a>
        </a>

        <div class="container-fluid">{{ processor.processorPrice}} PLN</div>
      </div>

    </div>

    <!-- if products empty then display a message-->
    <div *ngIf="processors?.length == 0" class="alert alert-warning col-md-12" role="alert">
      No products found.
    </div>

  </div>


</div>

