<div class="main-content page-m" style="padding: 20px">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <form [formGroup]="editGameForm" (ngSubmit)="onSubmit()" >

        <div class="form-area" style="margin: 0 auto; width: 300px">
          <h3>Edit game</h3>
          <br>

          <div class="row">
            <div class="input-space">
              Game Name
              <input formControlName="gameName" type="text" style="margin-left: 10px">
            </div>
          </div>


          <div class="row">
            <div class="input-space">
              Game Date
              <input formControlName="gamePremiere" type="date" style="margin: 10px">
            </div>
          </div>


          <div class="row">
            <div class="input-space">
              Game Platform
              <select formControlName="gamePlatform" style="margin: 10px">
                <option *ngFor="let gamePlatform of gamePlatforms" [ngValue]="gamePlatform">
                  {{ gamePlatform.platformName }}
                </option>
              </select>

            </div>
          </div>

          <div class="row">
            <div class="input-space">
              Game Price
              <input formControlName="gamePrice" type="number" style="margin: 10px">
            </div>
          </div>

          <div class="row">
            <div class="input-space">
              ImageUrl
              <input formControlName="imageUrl" type="text" style="margin: 10px">
            </div>
          </div>

        </div>

        <!-- submit button-->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>

      </form>

    </div>
  </div>
</div>
