<div style="padding: 50px">
  <div style="padding: 20px">
    <h3>Game: </h3>
    <a href="/admin/create-game">create game</a><br>
    <a href="/admin/edit-game">edit game</a><br>
    <a href="/admin/remove-game">remove game</a><br>
  </div>

  <div style="padding: 20px">
    <h3>Processor: </h3>
    <a href="/admin/create-processor">create processor</a><br>
    <a href="/admin/edit-processor">edit processor</a><br>
    <a href="/admin/remove-processor">remove processor</a><br>
  </div>

  <div style="padding: 20px">
    <h3>Graphics Card: </h3>
    <a href="/admin/create-graphics-card">create graphics card</a><br>
    <a href="/admin/edit-graphics-card">edit graphics card</a><br>
    <a href="/admin/remove-graphics-card">remove graphics card</a><br>
  </div>


</div>
