<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <form [formGroup]="newGraphicsCardFormGroup" (ngSubmit)="onSubmit()" >

        <div class="form-area" style="margin: 0 auto; width: 200px">
          <h3>Create New Graphics Card</h3>

          <div class="row">
              <div class="input-space">
                Graphics Card Name
                <input formControlName="cardModel" type="text">
              </div>
          </div>

          <div class="row">
              <div class="input-space">
                Memory
                <input formControlName="memory" type="number">
              </div>
          </div>

          <div class="row">
              <div class="input-space">
                Memory Type
                <input formControlName="memoryType" type="text">
              </div>
          </div>

          <div class="row">
              <div class="input-space">
                Power Consumption
                <input formControlName="powerConsumption" type="number">
              </div>
          </div>

          <div class="row">
              <div class="input-space">
                Premiere Date
                <input formControlName="premiereDate" type="date">
              </div>
          </div>

          <div class="row">
              <div class="input-space">
                Card Price
                <input formControlName="cardPrice" type="number">
              </div>
          </div>

          <div class="row">
              <div class="input-space">
                Benchmark Value
                <input formControlName="benchmarkValue" type="number">
              </div>
          </div>

          <div class="row">
              <div class="input-space">
                imageUrl
                <input formControlName="imageUrl" type="text">
            </div>
          </div>

        </div>

        <br>

        <!-- submit button-->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>

      </form>

    </div>
  </div>
</div>
