<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <form [formGroup]="removeGraphicsCardFormGroup" (ngSubmit)="onSubmit()">

        <div class="form-area">
          <h3>Remove Game</h3>

          <div class="row">
            <div class="col-md-2"><label>Graphics Card Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="graphicsCard">
                  <option *ngFor="let graphicsCard of graphicsCards" [ngValue]="graphicsCard">
                    {{ graphicsCard.cardModel }}
                  </option>
                </select>

              </div>
            </div>
          </div>


          <!-- submit button-->
          <div class="text-center">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
