<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">{{graphicsCard1.cardModel}}</th>
    <th scope="col">{{graphicsCard2.cardModel}}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">producer</th>
    <td>{{graphicsCard1.cardProducer}}</td>
    <td>{{graphicsCard2.cardProducer}}</td>
  </tr>
  <tr>
    <th scope="row">memory</th>
    <td>{{graphicsCard1.memory}}MB</td>
    <td>{{graphicsCard2.memory}}MB</td>
  </tr>
  <tr>
    <th scope="row">memory Type</th>
    <td>{{graphicsCard1.memoryType}}</td>
    <td>{{graphicsCard2.memoryType}}</td>
  </tr>
  <tr>
    <th scope="row">power Consumption</th>
    <td>{{graphicsCard1.powerConsumption}}W</td>
    <td>{{graphicsCard2.powerConsumption}}W</td>
  </tr>
  <tr>
    <th scope="row">premiere Date</th>
    <td>{{graphicsCard1.premiereDate}}</td>
    <td>{{graphicsCard2.premiereDate}}</td>
  </tr>
  <tr>
    <th scope="row">card Price</th>
    <td>{{graphicsCard1.cardPrice}}</td>
    <td>{{graphicsCard2.cardPrice}}</td>
  </tr>
  <tr>
    <th scope="row">benchmark Value</th>
    <td>{{graphicsCard1.benchmarkValue}}</td>
    <td>{{graphicsCard2.benchmarkValue}}</td>
  </tr>
  </tbody>
</table>
