<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Processor</th>
    <th scope="col">Graphics Card</th>
    <th scope="col">Ram</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Minimal</th>
    <td *ngIf="minimalProcessor">✔</td>
    <td *ngIf="!minimalProcessor">❌</td>
    <td *ngIf="minimalCardGraphics">✔</td>
    <td *ngIf="!minimalCardGraphics">❌</td>
    <td *ngIf="minimalRam">✔</td>
    <td *ngIf="!minimalRam">❌</td>
  </tr>
  <tr>
    <th scope="row">Recommended</th>
    <td *ngIf="recommendedProcessor">✔</td>
    <td *ngIf="!recommendedProcessor">❌</td>
    <td *ngIf="recommendedCardGraphics">✔</td>
    <td *ngIf="!recommendedCardGraphics">❌</td>
    <td *ngIf="recommendedRam">✔</td>
    <td *ngIf="!recommendedRam">❌</td>
  </tr>
  </tbody>

  <a routerLink="/pc-game-run-test" class="mt-5">Check another game!</a>

</table>
