<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <form [formGroup]="yourSetupFormGroup" (ngSubmit)="onSubmit()" >

        <!-- customer form group -->
        <div class="form-area">
          <h3>Game run</h3>

          <div class="row">
            <div class="col-md-2"><label>Game</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="game">
                  <option *ngFor="let game of games" [ngValue]="game">
                    {{ game.gameName }}
                  </option>
                </select>

              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-2"><label>Processor</label></div>
          <div class="col-md-9">
            <div class="input-space">
              <select formControlName="processor">
                <option *ngFor="let processor of processors" [ngValue]="processor">
                  {{ processor.processorModel }}
                </option>
              </select>

            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-2"><label>Graphics Card</label></div>
          <div class="col-md-9">
            <div class="input-space">
              <select formControlName="graphicsCard">
                <option *ngFor="let graphicsCard of graphicsCards" [ngValue]="graphicsCard">
                  {{ graphicsCard.cardModel }}
                </option>
              </select>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2"> <label>Ram[GB]:</label></div>
          <div class="col-md-9">
            <div class="input-space">
              <input formControlName="tempRam" type="number">
            </div>
          </div>
        </div>

        <!-- submit button-->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>

      </form>

    </div>
  </div>
</div>
